@model Car_Location.Models.Agency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agency</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localization)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Agency }) |
    @Html.ActionLink("Back to List", "Index")
</p>
