@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Wrexham Glyndwr University<br />
    Mold Road, Wrexham,<br />
    LL11 2AW<br />
    <abbr title="Phone">P:</abbr>
    01978 290666
</address>
