@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cars rental</h1>
    <p class="lead">
        Welcome into our Rental website. <br>
        This website is a dummy site intended for the development of a school project. <br>
        Any resemblance to other car rental sites would be fortuitous.<br>
    </p>
</div>
